<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
    <h1>Поиск новостей</h1>

    <form method="get" action="{% url 'news_search' %}">
        <input type="text" name="title" placeholder="Название новости" value="{{ request.GET.title }}">
        <input type="text" name="author" placeholder="Имя автора" value="{{ request.GET.author }}">
        <input type="date" name="date" value="{{ request.GET.date }}">
        <button type="submit">Поиск</button>
    </form>

    {% if news_list %}
        <h2>Результаты поиска:</h2>
        {% for news in news_list %}
            <div class="news-item">
                <h2>{{ news.title }}</h2>
                <p>{{ news.preview }}</p>
                <p><strong>Рейтинг:</strong> {{ news.rating }}</p>
                <p><a href="{% url 'post_detail' news.id %}">Читать далее</a></p>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if news_list.has_previous %}
                    <a href="?page=1">&laquo; Первая</a>
                    <a href="?page={{ news_list.previous_page_number }}">Назад</a>
                {% endif %}

                <span class="current">
                    Страница {{ news_list.number }} из {{ news_list.paginator.num_pages }}.
                </span>

                {% if news_list.has_next %}
                    <a href="?page={{ news_list.next_page_number }}">Вперед</a>
                    <a href="?page={{ news_list.paginator.num_pages }}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Нет новостей, соответствующих вашему запросу.</p>
    {% endif %}
{% endblock %}
</body>
</html>