    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends "default.html" %}  <!-- базовый шаблон -->

{% block content %}
    <h1>Новости</h1>
    <a href="{% url 'news_create' %}">Создать новость</a>  <!-- Ссылка на создание новости -->
    <a href="{% url 'article_create' %}">Создать статью</a>  <!-- Ссылка на создание статьи -->
    {% for news in news_list %}
        <div class="news-item">
            <h2>{{ news.title }}</h2>
            <p>{{ news.preview }}</p>
            <p><strong>Рейтинг:</strong> {{ news.rating }}</p>
            <p><a href="{% url 'news_detail' news.id %}">Читать далее</a></p>  <!-- Ссылка на детальную страницу поста -->
            <ul>
                <li>
                    <a href="{% url 'news_edit' news.pk %}">{{ news.title }} Редактировать </a>  <!-- Ссылка на редактирование -->
                    <a href="{% url 'news_delete' news.pk %}">Удалить</a>  <!-- Ссылка на удаление -->
                </li>
            </ul>
        </div>
    {% endfor %}\
{% endblock content %}

{% block navigation %}
<div class="pagination"> <!-- Добавляем пагинацию на страницу -->
                <span class="step-links">
                {% if page_obj.has_previous %}  <!-- Информация о предыдущих страницах -->
                <a href="?page=1">&laquo; Первая </a>
                    <a href="?page=1">1</a>
                    {% if page_obj.previous_page_number != 1 %}
                        ...
                        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }} </a>
                    {% endif %}
                {% endif %}

                <!-- Информация о текущей странице -->
                {{ page_obj.number }}

                <!-- Информация о следующих страницах -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    {% if page_obj.num_pages != page_obj.next_page_number %}
                        ...
                        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}Последняя </a>
                    {% endif %}
                {% endif %}
            </span>
        </div>
{% endblock %}
</body>
</html>